body{
	background: #faf8da;
	font-family: open sans;

}
footer{
	background-color: orange;
	padding: 7px;
	margin: 5px;
	text-align: center;
	color: white;
}
h1{
	text-align: center;
	font-size: 40pt;
	font-family: open sans;
	color: #205D76

}
.img{
	width: 100px;
}
a{
	color: orange;
}
header{
	width: 700px;
}
h2{
	color: #205D76
}
li{
	color: orange;
}