body{
    text-align: center;
}

header{
    color: gray;
    text-align:  left;
    margin-left: 270px;
}

h1{
    font-size: 40px;
}

h2{
    text-align: center;
    font-size: 40px;
}

nav{
    text-align: right;
    margin-right:250px; 
    margin-bottom: 10px;   
}

nav a{
    color: gray;
    text-decoration: none;
}

a{
    margin: 15px;
    padding: 10px;   
}

.banner{
    width: 1300px;
    margin: auto;
    position: relative;
    color: white;
}

.banner img{
    width: 100%;  
}

.caixa{
    position: absolute;
    bottom: 250px;
    left: 0;
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    size: 5;
    overflow-wrap: break-word;
    width: 530px;
}

.caixa a{
    text-decoration: none;
    color: aquamarine;
}

section{
    display: flex;
    margin-left: 260px;  
}

article{
    width: 300px;
   padding: 1px;
   margin: 15px ; 
}

article img{
    width: 300px;
}

footer{
    text-align: left;
    color: gray;
    margin-left: 270px;
}


